[all:vars]
ansible_user=root
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
# 生产环境请改用私钥认证，此处仅为演示
ansible_password=devops123  

[local-docker]
node-1 ansible_host=127.0.0.1 ansible_port=2222
node-2 ansible_host=127.0.0.1 ansible_port=2223

[cloud-real]
# 👇 这个 IP 由 Terraform 动态替换
node-3 ansible_host=${cloud_real_ip} ansible_password=Qyr1057469.@

[production:children]
local-docker
cloud-real